@* Take and put this in the renderedbody *@

@{
    Layout = "~/Shared/_Layout.cshtml";
}

@{ 
    DateTime now = DateTime.Now;
    var thisDate = now.ToLongDateString();
}

@{ var activity = Request["activity"]; var time = Request["time"]; var distance = Request["distance"]; var difficulty = Request["difficulty"];
    if (activity == null) {
        activity = "unknown";
    }
    if ((time==null) || (time == "") || (time.Length < 1) ||( time.Length > 4))
    {
        time = "unknown";
    }
    if ((distance == null) | (distance =="") || (distance.Length < 1) || (distance.Length > 4))
    {
        distance = "unknown";
    }
    if (difficulty == null)
    {
        difficulty = "unknown";
    }

 }

@{ var msg = "";
    Validation.Add("FirstName", Validator.Required("First Name is required"), Validator.StringLength(10, 3, "Name must be greater than 3 characters but less than 10"));
    Validation.Add("LastName", Validator.Required("Last Name is required"), Validator.StringLength(10, 3, "Name must be greater than 3 characters but less than 10"));

    if (IsPost)
    {
        var FirstName = Request["FirstName"];
        var LastName = Request["LastName"];
        if (Validation.IsValid()) { msg = "Welcome " + FirstName + " " + LastName; }
        else
        {
            Validation.AddFormError("Sorry there were errors in your submission");
        }
    } }







<div class="bodyContentDisplay">
    <table border="1" margin="1">
        <tr>
            <td>Date</td>
            <td>Activity</td>
            <td>Distance<br/>(miles)</td>
            <td>Time<br/>(minutes)</td>
            <td>Difficulty</td>
        </tr>
        <tr>
            <td>@thisDate</td>
            <td>@activity</td>
            <td>@distance</td>
            <td>@time</td>
            <td>@difficulty</td>
        </tr>

    </table>
</div>


@section sidebar{
    <div class="onTheSide">
        <ul>
            <li><a href="~/default.cshtml">Home</a></li>

            <li>
                <a href="~/log.cshtml">Log Miles</a>
            </li>
            <li>
                <a href="~/view.cshtml">View Miles</a>
            </li>
        </ul>
    </div>
}


