@* Take and put this in the renderedbody *@

@{
    Layout = "~/Shared/_Layout.cshtml";
}

@{ 
    DateTime now = DateTime.Now;
    var thisDate = now.ToLongDateString();
}

@{ var activity = Request["activity"]; var time = Request["time"]; var distance = Request["distance"]; var difficulty = Request["difficulty"];
    if (activity == null) {
        activity = "unknown";
    }
    if ((time==null) || (time == "") || (time.Length < 1) ||( time.Length > 4))
    {
        time = "unknown";
    }
    if ((distance == null) | (distance =="") || (distance.Length < 1) || (distance.Length > 4))
    {
        distance = "unknown";
    }
    if (difficulty == null)
    {
        difficulty = "unknown";
    }

 }

<div class="col-sm-8 col-sm-offset-2 bodyContentDisplay table-responsive">
    <table border="1" margin="1" class="table table-hover">
        <thead>
            <tr>
                <td>Date</td>
                <td>Activity</td>
                <td>Distance<br />(miles)</td>
                <td>Time<br />(minutes)</td>
                <td>Difficulty</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@thisDate</td>
                <td>@activity</td>
                <td>@distance</td>
                <td>@time</td>
                <td>@difficulty</td>
            </tr>
        </tbody>
    </table>
</div>
    